$white: #ffffff;
$blue: #11b5e4;
$mauve: #957d95;
$black: #323949;
$title-font: 'B612', sans-serif;
$body-font: 'Noto Serif', serif;
$code-font: 'B612 Mono', monospace;

h1 {
    margin: 0
}

#demo-body {
    display: grid;
    grid-template-rows: 10% 7% auto;
    justify-items: center;
    height: 80vh;
    width: 90%;
    margin-top: auto;
    margin-bottom: auto;
}

#page-title {
    grid-row: inherit;
    font-family: $title-font;
    color: $black;
}

#input-box {
    grid-row: inherit;
    font-family: $body-font;
    color: $black;
    height: 70%;
    border-color: $blue;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 10px;
}

#input-box:focus {
    outline: none;
    box-shadow: 0px 0px 10px $blue; 
}

#result-boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    line-height: 2rem;
}

.data-box {
    background-color: $blue;
    color: $white;
    height: 90%;
    width: 50%;
    margin: 20px;
    border-radius: 20px;
    padding: 20px;
    font-family: $code-font;
    font-size: 0.85rem;
}

#database {
    
}

.names {
    font-weight: 700;
    // text-decoration: underline;
}

@media screen and (min-width: 900px) {
    .data-box {
        width: 400px;
    }
}