$white: #ffffff;
$blue: #11b5e4;
$mauve: #957d95;
$black: #323949;
$title-font: 'B612', sans-serif;
$body-font: 'Noto Serif', serif;
$code-font: 'B612 Mono', monospace;

#about-us-page-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about-us-title {
    text-align: center;
    font-family: $title-font;
    color: $black;
    font-size: 3rem;
}

#about-us-layout {
    margin: 0;
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-flow: row dense;
    place-items: center;
    height: 74vh;
    margin: 0 40px 0 40px;
}

@media (max-width: 1350px) {
    #about-us-layout {
      display: grid;  
      grid-template-columns: 1fr 1fr 1fr;
      height: auto;
    }
}

@media (max-width: 900px) {
    #about-us-layout {
      display: grid;  
      grid-template-columns: 1fr 1fr;
      height: auto;
    }
}

@media (max-width: 600px) {
    #about-us-layout {
      display: grid;  
      grid-template-columns: 1fr;
      height: auto;
    }
}

#singleTile {
    background-color: rgba($black, 0.05);
    height: 400px;
    min-height: 389px; 
    width: 235px;
    min-width: 235px;
    margin: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-shadow:
      0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075),
      0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075),
      0 16px 16px hsl(0deg 0% 0% / 0.075)
    ;
}

#singleTile:hover {
    box-shadow:
      0 3px 3px hsl(0deg 0% 0% / 0.1),
      0 6px 6px hsl(0deg 0% 0% / 0.1),
      0 12px 12px hsl(0deg 0% 0% / 0.1),
      0 24px 24px hsl(0deg 0% 0% / 0.1),
      0 48px 48px hsl(0deg 0% 0% / 0.1)
    ;
}

#headshots {
    width: 100%;
    min-height: 260px;
    border-radius: 20px 20px 0 0;
}

#bottom-of-tile {
    margin: 12px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#name {
    color: $black;
    font-family: $title-font;
    margin: 0;
}

#contact-links {
    display: flex;
    flex-direction: column;
}

.email-button {
    display: flex;
    justify-content: center;
    border: 0.5px solid $black;
    border-radius: 8px;
    width: 45%;
    background-color: $white;
    padding: 3%;
    margin: 2% 0 2% 0;
    font-family: $body-font;
    font-size: 0.9rem;
    text-decoration: none;
    color: $black;
}

#contact-icons {
    display: flex;
    gap: 10px;
}