$white: #ffffff;
$blue: #11b5e4;
$mauve: #957d95;
$black: #323949;
$title-font: 'B612', sans-serif;
$body-font: 'Noto Serif', serif;
$code-font: 'B612 Mono', monospace;

#aboutUsTitle {
    text-align: center;
    font-family: $title-font;
    color: $black;
    font-size: 3rem;
}

#aboutUsLayout {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 73vh;
    margin: 0 40px 0 40px;
}

#topOfPage {
    display: flex;
}

#bottomOfPage {
    display: flex;
}

#singleTile {
    background-color: rgba($black, 0.15);
    height: 50vh;
    width: 25vw;
    max-width: 215px;
    margin: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

#headshots {
    width: 100%;
    height: 60%;
    border-radius: 20px 20px 0 0;
}

#bottom-of-tile {
    margin: 12px;
}

#name {
    color: $black;
    font-family: $title-font;
    margin: 0;
}

.au-icons {
    height: 50px;
}

.contact-text {
    font-family: $body-font;
    font-size: 0.9rem;
}