$white: #ffffff;
$blue: #11b5e4;
$mauve: #957d95;
$black: #323949;
$title-font: 'B612', sans-serif;
$body-font: 'Noto Serif', serif;
$code-font: 'B612 Mono', monospace;

#three-box-layout {
    height: 45vh;
    display: flex;
    justify-content: space-evenly;
    margin: 0 10vw 0 10vw;
}

#one-box-layout {
    height: 80%;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 30px;
}

#box-title {
    font-family: $title-font;
}

#box-paragraph {
    font-family: $body-font;
}

.text-color {
    color: $black;
}

.box-icons {
    color: $black;
    margin-bottom: 1rem;
    min-width: 2em;
    min-height: 2em;
}