$white: #ffffff;
$blue: #11b5e4;
$mauve: #957d95;
$black: #323949;
$title-font: 'B612', sans-serif;
$body-font: 'Noto Serif', serif;
$code-font: 'B612 Mono', monospace;

#three-box-layout {
    height: 45vh;
    display: flex;
    justify-content: space-evenly;
    margin: 0 10vw 0 10vw;
}

#one-box-layout {
    height: 80%;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5%;
    text-align: center;
    padding-top: 30px;
}

#box-title {
    font-family: $title-font;
}

#box-paragraph {
    font-family: $body-font;
    margin: 0;
}

.text-color {
    color: $black;
}

@media screen and (max-width: 420px) {
    #three-box-layout {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 70px;
        margin-bottom: 70px;
        width: 80%;
    }
    #one-box-layout {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 20px 0 0 0;
        width: 100%;
        background-color: rgba($black, 0.05);
        border-radius: 20px;
    }
    #box-paragraph {
        width: 80%;
    }
}