$white: #ffffff;
$blue: #11b5e4;
$mauve: #957d95;
$black: #323949;
$title-font: 'B612', sans-serif;
$body-font: 'Noto Serif', serif;
$code-font: 'B612 Mono', monospace;

h1 {
    margin: 0
}

#demo-body {
    display: grid;
    grid-template-rows: 7% 7% auto;
    place-items: center;
    height: 80vh;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
}

.title-font {
    font-family: $title-font;
    font-weight: 700;
    color: $black;
}

.body-metric-font {
    font-family: $body-font;
    color: $black;
    font-size: 0.95rem;
    display: flex;
    margin-bottom: 0;
    margin-top: 25px;
    font-weight: 400;
}

#demo-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid $black;
    border-radius: 20px;
    padding: 4px 8px 4px 8px;
    background-color: $white;
    font-family: $body-font;
    font-size: 0.9rem;
    box-shadow: 2px 0px 5px rgba($black, 0.5);
    text-decoration: none;
    color: $black;
}

#demo-btn:hover {
    box-shadow: 5px 3px 5px rgba($black, 0.5);
}

.query-string {
    font-family: $code-font;
    line-height: 1.5rem;
    tab-size: 20px;
}

#result-boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    align-self: flex-start;
    height: 80%;
    width: 100%;
    line-height: 2rem;
}

.result-box-titles {
    position: sticky;
    top: 0;
    background-color: $black;
    width: 100%;
    margin: 0;
    padding: 20px 0 20px 0;
}

.data-box {
    background-color: $black;
    color: $white;
    height: 40vh;
    width: 50%;
    margin: 20px;
    margin-top: 20px;
    border-radius: 8px;
    padding: 20px;
    padding-top: 0;
    font-family: $code-font;
    font-size: 0.85rem;
}

#query-result::-webkit-scrollbar {
    height: 90%;
    background-color: transparent;
    width: 10px;
}

#query-result::-webkit-scrollbar-track {
    border-radius: 20px;
}

#query-result::-webkit-scrollbar-thumb {
    background-color: lighten($black, 40);
    border-radius: 20px;
    width: 10px;
  }

#query-result {
    overflow-y: overlay;
    scroll-margin: 20px;
}

#metrics-container {
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.metrics {
   height: 200px; 
   margin: 0 20px 10px 20px;
}

#chart-container {
    color: #11b5e4;
	border-width: 20px,
}

#time-box {
    width: 300px;
    height: 90%;
    background-color: lighten($black, 70);
    padding: 30px;
    border-radius: 8px;
}

.time-stamp {
    margin: 0;
    margin-left: 10px;
    font-weight: 700;;
}

@media screen and (min-width: 900px) {
    .data-box {
        width: 400px;
    }
}