$white: #ffffff;
$blue: #11b5e4;
$mauve: #957d95;
$black: #323949;
$title-font: 'B612', sans-serif;
$body-font: 'Noto Serif', serif;
$code-font: 'B612 Mono', monospace;

#descriptions {
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#info {
    width: 49%;
    height: 75%;
    display: grid;
    grid-template-rows: 50% 50%;
    align-items: center;
}

.desc-titles {
    font-family: $title-font;
    color: $black;
    font-size: 1.8rem;
    text-align: center;
    user-select: none;
}

.paragraph-text {
    font-family: $body-font;
    color: $black;
    margin: 25px 25% 25px 25%;
    line-height: 1.3rem;
    font-size: 0.93rem;
    letter-spacing: 0.02em;
    text-align: center;
    user-select: none;
}

#separating-line {
    height: 90%;
    width: 4px;
    background-color: rgba($black, 0.4);
    border-radius: 100px;
}

#tech-stack {
    width: 49%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#tech-stack-desc {
    margin: 25px 15% 25px 15%;
    text-align: center;
    user-select: none;
}

#icon-section {
    display: grid;
    width: 45%;
    height: 60%;
    margin-top: 5%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    justify-items: center;
}

.logo-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tech-stack-logos {
    width: auto;
    height: 90px;
}

.icon-text {
    font-family: $title-font;
    color: $black;
}

@media screen and (max-width: 830px) {
    #descriptions {
        height: auto;
        margin: 50px 0 50px 0;
        display: flex;
        flex-direction: column;
    }
    #info {
        width: 80%;
        display: grid;
        grid-template-rows: 50% 50%;
        align-items: center;
    }
    .paragraph-text {
        margin: 15px 0 40px 0;
    }
    #tech-stack {
        width: 90%;
        height: 100%;
        padding: 30px 0 30px 0;
        display: flex;
        flex-direction: column;
        background-color: rgba($black, 0.05);
        border-radius: 20px;
    }
    #tech-stack-desc {
        margin: 15px 0 40px 0;
        width: 79%;
    }
    #icon-section {
        display: grid;
        width: 100%;
        margin-top: 0;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        grid-row-gap: 5%;
    }
}