@import './sitewide.scss';

#main {
  margin-left: 8vw;
  margin-right: 18vw;
  margin-top: 3vh;
  margin-bottom: 5vh;
  user-select: none;
}

.image {
    height: auto;
    width: 80vw;
 }

.section-titles {
    font-family: $title-font;
    color: $black;
}

.section-paragraphs {
    font-family: $body-font;
    color: $black;
    letter-spacing: 0.02rem;
    line-height: 1.5rem;
}

.code-box {
    background-color: $black; 
    font-family: $code-font;
    border-radius: 15px;
    display: grid;
    grid-template-columns: auto 100px;
    align-items: center;
}

.blue-code-text {
    color: $white;
    font-size: 1.1rem;
    font-family: $code-font;
    grid-column: 1 / 2;
    margin-left: 25px;
    // overflow-x: visible;
}

.copy-button {
    grid-column: 2 / 3;
    border-radius: 8px;
    font-size: 1.05rem;
    padding: 5px 0;
    width: 60%;
    min-width: 60px;
    justify-self: center;
    background-color: $white;
    color: darken($blue, 5%);
    border: 1px solid $blue;
    cursor: pointer;
    font-family: $body-font;
}

.copy-button:hover {
    background-color: $blue;
    color: $white;
    border: 1px solid $white;
}

.divider {
    border-top: 3px solid; 
    color: $light-grey;
    margin: 50px 0;
}

#big-codestring {
    line-height: 1rem;
    margin-top: 0;
    margin-bottom: 40px;
}

@media screen and (max-width: 830px) {
      #text-box {
        display: flex;
        flex-direction: column;
        width: 100vw;
      }

      .image {
        height: auto;
        width: 80vw;
     }
    
    .code-box {
        margin: 25px 0 45px 0;
        font-size: 20px; 
        border-radius: 15px;
        display: grid;
        grid-template-columns: 90% 10%;
        align-items: center;
    }
    
    .blue-code-text {
        font-size: 18px;
        grid-column: 1 / 2;
        margin-right: 0;
        margin-left: 0;
    }
    
    .copy-button {
        grid-column: 2 / 3;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        font-size: 15px;
        height: 31px;
        width: 70%;
        justify-self: center;
        background-color: $white;
        color: darken($blue, 5%);
        border: 1px solid $blue;
        cursor: pointer;
        font-family: $code-font;
    }
    
    .copy-button:hover {
        background-color: $blue;
        color: #fff;
    }
    
    .divider {
        border-top: 3px solid; 
        color: $light-grey;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    
    #big-codestring {
        line-height: 1rem;
        margin-top: 0;
        margin-bottom: 40px;
    }
}