$white: #ffffff;
$blue: #11b5e4;
$mauve: #957d95;
$black: #323949;
$title-font: 'B612', sans-serif;
$body-font: 'Noto Serif', serif;
$code-font: 'B612 Mono', monospace;

#text-box {
    margin-top: -100px;
    margin-left: 30px;
    width: 75%;
}


#code-box {
    text-align: left;
    background-color: #2e2e2e; 
    font-family: monospace; 
    font-size: 20px; 
    display: flex;
    border: none;
    justify-content: space-between;
}

#code-text {
    color: #8ddeec;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    font-weight: bold;
}

#copy-button {
    height: auto;
    margin-top: -5px;
    display: flex;
    align-items: center;
    margin-left: auto;
    border-radius: 8px;
    font-size: 15px;
    margin-right: 5px;
    background-color: #fff;
    color: #1d5cfa;
    border: 1px solid #1d5cfa;
}