$white: #ffffff;
$blue: #11b5e4;
$mauve: #957d95;
$black: #323949;
$title-font: 'B612', sans-serif;
$body-font: 'Noto Serif', serif;
$code-font: 'B612 Mono', monospace;

#main {
  margin-left: 8vw;
  margin-right: 18vw;
  margin-top: 3vh;
  margin-bottom: 5vh;
  display: flex;
  justify-content: center;
  font-size: 1.1rem;
  line-height: 1.5;
  letter-spacing: 0.01em;
}

.image {
    height: 80vh;
    width: auto;
}

.section-titles {
    font-family: $title-font;
    color: $black;
}

.section-paragraphs {
    font-family: $body-font;
    color: $black;
}

.code-box {
    background-color: $black; 
    font-family: $code-font; 
    margin: 25px 0 45px 0;
    font-size: 20px; 
    border-radius: 15px;
    display: grid;
    grid-template-columns: 90% 10%;
    align-items: center;
}

.blue-code-text {
    color: lighten($blue, 20%);
    font-size: 18px;
    font-family: $code-font;
    grid-column: 1 / 2;
    margin-right: 25px;
    margin-left: 25px;
}

.darker-blue-code-text {
    color: darken($blue, 5%);
    font-size: 18px;
    font-family: $code-font;
    grid-column: 1 / 2;
    margin-right: 25px;
    margin-left: 25px;
}

.copy-button {
    grid-column: 2 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-size: 15px;
    height: 31px;
    width: 70%;
    justify-self: center;
    background-color: $white;
    color: darken($blue, 5%);
    border: 1px solid $blue;
    cursor: pointer;
    font-family: $code-font;
}

.copy-button:hover {
    background-color: $blue;
    color: #fff;
}


.divider {
    border-top: 3px solid; 
    color: lightgrey;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#big-codestring {
    line-height: 1rem;
    margin-top: 0;
    margin-bottom: 40px;
}
