$white: #ffffff;
$blue: #11b5e4;
$mauve: #957d95;
$black: #323949;
$title-font: 'B612', sans-serif;
$body-font: 'Noto Serif', serif;
$code-font: 'B612 Mono', monospace;

#main {
  margin-left: 500px;
  margin-right: 500px;
  margin-top: 50px;
  margin-bottom: 100px;
  display: flex;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.6;
  letter-spacing: 0.01em;
  

}

#text-box {
    margin-top: -100px;
    margin-left: 30px;
    width: 75%;
}

.code-box {
    text-align: left;
    background-color: #2e2e2e; 
    font-family: monospace; 
    font-size: 20px; 
    display: grid;
    grid-template-columns: 98% 2%;
    border: none;
    justify-content: space-between;
    
}

.code-text {
    color: #8ddeec;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    font-weight: bold;
    margin-left: 20px;
    font-family: monospace;
}

.copy-button {
    height: auto;
    margin-top: -5px;
    display: flex;
    align-items: center;
    margin-left: auto;
    border-radius: 8px;
    font-size: 15px;
    margin-right: 5px;
    background-color: #fff;
    color: #1d5cfa;
    border: 1px solid #1d5cfa;
    cursor: pointer;
    font-family: inherit;
}

.copy-button:hover {
    background-color: #1d5cfa;
    color: #fff;
}


.divider {
    border-top: 3px solid; 
    color: lightgrey;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.bluecodestyle {
    color: #0c24f8;
    font-size: 18px;
    font-family: monospace;
}
