$white: #ffffff;
$blue: #11b5e4;
$mauve: #957d95;
$black: #323949;
$title-font: 'B612', sans-serif;
$body-font: 'Noto Serif', serif;
$code-font: 'B612 Mono', monospace;

.text {
    color: $black
}

#hero {
    height: 90vh;
    display: grid;
    grid-template-columns: 18vw 64vw 18vw;
}

#hero-left {
    grid-column: 1 / 2;
    height: 90vh;
    display: flex;
    align-items: flex-end;
    
}

#hero-right {
    height: 90vh;
    display: flex;
    justify-content: flex-end;
}

#main-info-section {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8vh
}

#logo {
    height: 250px;
}

#welcome-text {
    font-family: $title-font;
    color: $black;
    font-size: 5rem;
    text-align: center;
    margin: 0;
}

#description-text {
    font-family: $body-font;
    font-size: 1.6rem;
    width: 370px;
    text-align: center;
}

#clipboard-docs {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 6vh
}



#copy-npm {
    background-color: rgba($black, .1);
    border-radius: 15px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40%;
    
}

#dollar-sign {
    margin-left: 5%;
    color: rgba($black, .7);
}

#npm-link {
    color: $black;
    margin: 0.6em;
    margin-right: 25%;
}

.npm-text {
    font-family: $code-font;
    margin: 0;
}

#clipboard-icon {
    cursor: pointer;
}

.button-text {
    font-family: $title-font;
    margin: 0;
}

#blue-docs-link {
    height: 100%;
    width: 20%;
    margin-left: 2rem;
    
}

#blue-docs-button {
    background-color: $black;
    border: none;
    border-radius: 15px;
    color: $white;
    font-size: 1.2rem;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#demo-link {
    font-family: $body-font;
    color: $black;
    font-style: italic;
    text-decoration: none;
}

#demo-link:visited {
    color: $black;
    text-decoration: none;
}

#demo-link:focus {
    color: $black;
    text-decoration: none;
}

.hero-imgs {
    height: 80%;
}

#upper-right {
    
}