@import './sitewide.scss';

.text {
    color: $black
}

#hero {
    height: 90vh;
    display: grid;
    grid-template-columns: 18vw 64vw 18vw;
}

#hero-left {
    grid-column: 1 / 2;
    height: 90vh;
    display: flex;
    align-items: flex-end;
    
}

#hero-right {
    height: 90vh;
    display: flex;
    justify-content: flex-end;
}

#main-info-section {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8vh
}

#logo {
    height: 250px;
}

#welcome-text {
    font-family: $title-font;
    color: $black;
    font-size: 5rem;
    text-align: center;
    margin: 0;
    user-select: none;
}

#description-text {
    font-family: $body-font;
    font-size: 1.6rem;
    width: 370px;
    text-align: center;
    user-select: none;
}

#clipboard-docs {
    display: flex;
    width: 100%;
    justify-content: center;
    height: 6vh;
    gap: 2%;
}

#copy-npm {
    background-color: $light-grey;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5%;
    width: 42%;
    max-width: 360px;
    min-width: 329px;
}

#link-group {
    width: 100%;
    display: flex;
    gap: 2%;
}

#dollar-sign {
    color: rgba($black, .7);
}

#npm-link {
    color: $black;

}

.npm-text {
    font-family: $code-font;
}

#clipboard-icon {
    cursor: pointer;
}

.button-text {
    font-family: $body-font;
    margin: 0;
}

#docs-button {
    background-color: $black;
    border: none;
    border-radius: 15px;
    color: $white;
    font-size: 1.2rem;
    width: 100%;
    height: 100%;
    cursor: pointer;
    min-width: 150px;
}

#demo-link {
    font-family: $body-font;
    color: $black;
    font-style: italic;
    text-decoration: none;
}

#demo-link:visited {
    color: $black;
    text-decoration: none;
}

#demo-link:focus {
    color: $black;
    text-decoration: none;
}

.hero-imgs {
    height: 80%;
}

@media screen and (max-width: 849px) {
    #clipboard-docs {
        flex-direction: column;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 10%;
        height: auto;
    }

    #npm-link {
        margin: 0;
    }

    #docs-button {
        width: 25vw;
        min-width: 130px;
        font-size: 1rem;
        padding: 5px;
    }

    #demo-link {
        display: none;
    }

    .hero-imgs {
        height: 80%;
        width: 40vw;
    }

    #lower-left {
        width: 30vw;
    }
}