$white: #ffffff;
$blue: #11b5e4;
$mauve: #957d95;
$black: #323949;
$title-font: 'B612', sans-serif;
$body-font: 'Noto Serif', serif;
$code-font: 'B612 Mono', monospace;

html {
    height: 100vh;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#navbar {
    height: 10vh;
    display: grid;
    grid-template-columns: 30% auto 15%;
    background-color: rgba(255, 255, 255, 0.9);
    position: sticky;
    top: 0px;
    z-index: 1;
}

#left-nav {
    grid-column: 1 / 2;
    padding-left: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#placeholder {
    width: 40px;
    height: 20px;
    background-color: #11b5e4;
}

.nav-btns {
    font-family: $title-font;
    color: $black;
    background-color: transparent;
    border: none;
}

#navbar-logo {
    height: 7vh;
}

#right-nav {
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.top-right-icons {
    margin: 0 3vw 0 0;
}

#npm-logo {
    width: 21px;
    height: 21px;
}

#footer {
    height: 10vh;
    display: flex;
    align-items: center;
    background-color: rgba($black, .1);
    padding-left: 3vw;
}

#black-logo {
    height: 65%;
    padding-right: 1vw;
}

#footer-text {
    font-family: $body-font;
    color: $black;
}