$white: #ffffff;
$blue: #11b5e4;
$light-grey: rgb(234 235 236);
$mauve: #957d95;
$black: #323949;
$title-font: 'B612', sans-serif;
$body-font: 'Noto Serif', serif;
$code-font: 'B612 Mono', monospace;
$default-padding: 3%;
$default-border: 0.5px solid $black;
$default-border-radius: 8px;
$box-shadow-light: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15);

html {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: overlay;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: overlay;
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
    margin: 20px;
}

::-webkit-scrollbar-track {
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba($black, .35);
    border-radius: 20px;
    width: 10px;
  }

#navbar {
    height: 10vh;
    display: grid;
    grid-template-columns: 30% auto 15%;
    background-color: rgba(255, 255, 255, 0.9);
    position: sticky;
    top: 0px;
    z-index: 1;
}

#left-nav {
    grid-column: 1 / 2;
    padding-left: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-btns {
    font-family: $title-font;
    color: $black;
    background-color: transparent;
    font-size: 1.05rem;
    border: none;
    cursor: pointer;
}

#navbar-logo {
    height: 7vh;
}

#right-nav {
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.top-right-icons {
    margin: 0 2vw 0 0;
}

#npm-logo {
    width: 21px;
    height: 21px;
}

#footer {
    height: 10vh;
    display: flex;
    align-items: center;
    background-color: rgba($black, .1);
    padding-left: 3vw;
}

#black-logo {
    height: 65%;
    padding-right: 1vw;
}

#footer-text {
    font-family: $body-font;
    color: $black;
}

@media screen and (max-width: 830px) {
    #navbar {
        grid-template-columns: 65% auto 25%;
    }

    #left-nav {
        padding-left: 20px;
    }

    #right-nav {
        justify-content: center;
        gap: 15px;
    }
}